<?xml version="1.0" encoding="utf-8" ?>
<routes>
    <!-- Comments -->
    <route p="post" controller="PostController" action="showAll"/>
<!--    <route p="delete-comment" controller="CommentController" action="" params="id"/>-->


    <route p="login" controller="AdminController" action="showConnectionForm"/>

</routes>